<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Welcome to hello Twig</p>
    <p>for:</p>
    <ol>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ol>
</body>
</html>